body {
  font-family: "Noto Sans JP", Arial, Helvetica, sans-serif
  padding: 20px;
}

/*
form
*/
.form {
  border: 2px solid #000;
  padding: 20px;
  max-width: 780px;  /*要素の最大幅*/
  width: 100%;
  margin: 0 auto;
}
.form-list{
  display: flex;
  margin-bottom: 10px;
}
.form-title{
  font-weight: bold;
  cursor: pointer;
  width: 30%;
}
.form-field{
  width: 70%;
}
.form-button{
  text-align: center; /*textを寄せる設定*/
}

/*
input,textarea
*/
.input-field{
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
}

/*
button
*/
.button{
  border: 0;
  font-size: 18px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  transition: opacity 0.25s;
  /*opacity(透明度)が変化するとき、0.25秒かけてふわっと変化させる*/
}
.button:hover{
  opacity: 0.8; 
  /*マウスを乗せたとき(hover)不透明度を0.8(80%の濃さ)にする*/
}

/*
history-link
*/
.history-link{
  margin-top: 20px;
  text-align: right;
}
.history-link > a {
  /*HTMLのhistory-linkの直下にあるaタグだけにスタイルを当てる*/
  margin: 0 5px;
  color: #000;
}